body{
    font-size: 20px;
    font-family:cursive;
    background-color: pink;
    
}

#container{
    margin : 20px auto;
   background-color: rgb(166, 166, 241);
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:250px;
    height:50px;
    border : 2px solid whitesmoke;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:230px;
    top:60px;
    color :whitesmoke;
}
#start:hover{
    border: 3px solid pink;
    color : pink;
}

#qImg{
    width : 200px;
    height : 200px;
    position: absolute;
    left : 0px;
    top : 0px;
}
#qImg img{
    width : 200px;
    height : 200px;
    border-top-left-radius: 5px;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:10px;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
    color:#fff;
    
}

#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px;
    color:#fff;
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid black;
    font-weight: bold;
    color: greenyellow;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: absolute;
    top:100px;
    left:325px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.loader{
    position: relative;
    width: 200px;
    height: 200px;

}
.circle{
    position: absolute;
    width: 250px;
    height: 250px;
    border:2px solid #fff ;
    border-radius: 50%;
    bottom: -5px;
    left: 70px;
    animation: animate 3s linear infinite;
}
.circle2
{
    width: 200px;
    height: 200px;
    left: 95px;
    bottom: 20px;
    animation: animate 6s linear infinite;
}
.circle3
{
    width: 150px;
    height: 150px;
    left: 120px;
    bottom: 45px;
    animation: animate 2s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: rotate(deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.circle::before
{
    content: '';
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),
    0 0 60px var(--clr);

}

footer{
    position: relative;
    width: 1250px;
    background: #3586ff;
    min-height: 95px;
    padding: 20px 50px;
    right: 10px;
    bottom: -15px;
}
.wave
{
    position: absolute;
    top: -80px;
    left: 0;
    width: 1350px;
    height: 100px;
    background: url(img/wave.png);
    background-size: 1000px 100px;
    
}
.wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
.wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
.wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
.wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02
{
    0%
    {
        background-position-x: 0px;
    }
    100% 
    {
        background-position-x: 1000px;
    }
}

.container1{
    position: relative;
    width: 0px;
    height: 0px;
    background: #FF8C00;
    border-radius: 25px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 290px;
    left: 1060px;
}
.container1.active{
    width: 250px;
    height: 250px;
    transition-delay: 0.5s;
}
.container1::before{
    content: '';
    position: absolute;
    bottom: -15px;
    width: 30px;
    height: 30px;
    background: #FF8C00;
    border-radius: 5px;
    opacity: 0;
    transition: 0.5s;
    transform: rotate(45deg);
}
.container1.active::before{
    opacity: 1;
    transition-delay: 0.5s;
}
.container1 .content{
    min-width: 100px;
    padding: 23px;
    color:#FAFAD2;
    opacity: 0;
    transition: 0.5s;
    transform: scale(0);
    font-size: 18px;
}
.container1.active .content{
    opacity: 1;
    transition-delay: 0.5s;
    transform: scale(1);
}
.toggleBtn{
    position: absolute;
    bottom: -20px;
    min-width: 50px;
    height: 50px;
    background: #0bcf9c;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.toggleBtn::before{
    content: '+';
    font-size: 2.1em;
    color: white;
}
.container1.active .toggleBtn{
    bottom: -80px;
    transform: rotate(135deg);
    background: #ff5a57;
}